@using ResQMe.ViewModels.User
@model ProfileFormViewModel

<h2>My profile</h2>

@if (TempData["ProfileRequired"] != null)
{
    <div class="alert alert-warning">
        @TempData["ProfileRequired"]
    </div>
}

<form asp-action="Edit" method="post">

    @if (ViewBag.ReturnAnimalId != null)
    {
        <input type="hidden" name="returnAnimalId" value="@ViewBag.ReturnAnimalId" />
    }

    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Address</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class ="form-label">City</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}